/* a {
  text-decoration: none;
  color: black
}
a:visited {
  color: black
}
 */

a:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  margin-right: 8%;
}

.search-bar input {
  height: 40px;
  width: 275px;
  font-size: larger;
}

.search-bar ul {
  position: absolute;
  width: 275px;
  list-style: none;
  background-color: white;
  border: 1px solid;
  font-size: larger;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.navbar-toggle a {
  color: #f5f5f5;
}

#trip-map {
  height: 50%;
  width: 45%;
}

#location-info {
  position: absolute;
  text-align: center;
  right: 77.5%;
  top: 45%;
  z-index: 2;
}

#trip-form {
  display: flex;
  justify-content: center;
  width: 100%;

  position: absolute;
  bottom: 30%;
}

#trip-form button {
  font-size: large;
}

#trip-container {
  position: absolute;
  top: 70%;
  width: 100%;

  display: flex;
  justify-content: center;
}

#trip-container div {
  text-align: center;
  margin: 10px;
}

#trip {
  display: flex;
  flex-direction: column;
}

#trip #flex {
  display: flex;
}

#trip #flex #location-map div:first-child {
  position: absolute;
  margin-left: 0;
  max-width: 45vw;
  max-height: 25vw;
  background-color: rgba(255, 255, 255, 0);
}

#encounters img {
  width: 200px;
  object-fit: cover;
}

#trip #encounters h1 {
  margin-right: 0;
  width: fit-content;
}

#encounter-main {
  position: relative;
  overflow-y: hidden;
  overflow-y: scroll;
  height: 90vh;
  /* margin: auto; */
  /* width: 100vw; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 60vw;

  font-family: 'EB Garamond', serif;
  font-size: 20px; */
}

#inner-encounter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 60vw;

  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

#encounter-main #image-grid {
  margin: 35px 0 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
}


#encounter-main #image-grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#encounter-info {
  width: 100%;
}

#encounter-info #notes {
  margin-bottom: 20px;
}

#encounter-info #notes div {
  font-size: 24px;
  margin-bottom: 10px;
}

#encounter-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons button {
  font-size: medium;
  margin-bottom: 25px;
  width: 150px;
  height: 50px;
}

#photo-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

#photo-input form {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 300px;
  margin: auto;
}

#conservation {
  margin: auto;
}

#iucn-info {
  width: 90%;
  min-height: 200px;
  max-height: 200px;

  margin: auto;
  padding: 0 10px 0 15px;

  background-color: rgb(218, 140, 140);
  border: 1px solid;

  overflow-y: hidden;
  overflow-y: scroll;
}

#inner-info, #population-headers {
  display: flex;
}

#population-headers {
  margin-top: 10%;
  margin-left: 50px;
  flex-direction: column;
  align-items: center;
}

#inner-info {
  width: fit-content;
  margin: auto;
}

#iucn-info img {
  object-fit: contain;
  height: 145px;
  margin-top: 2.5%;
}

div.cFtQnK, div.jzgFlE, div.egJpal, div.fyudsR, div.eTkkyF, div.imUfQn {
  position: relative;
  top: 6rem;
}

div#grid-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#grid-header button {
  width: 15%;
  height: 40px;
  font-size: medium;
}

#preview-flex {
  display: flex;
  width: fit-content;
  margin: auto;
}

#preview-flex img.image-preview {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

/* 
#followings {
  position: absolute;
  top: 10%;
  left: 2%;

  z-index: 3;
} */

/*HUB*/

#hub #encounters-list {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 300px;
  grid-gap: 25px;
  width: fit-content;
  height: 100vh;
  overflow-y: hidden;
  overflow: scroll;
  margin: auto;
}

/* #encounter-list {
  margin: auto;
} */

#encounters-list .encounter-card {
  height: 300px;
  width: 300px;

  position: relative;
  text-align: center;
}

#encounters-list .encounter-card img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

#encounters-list .encounter-card div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*FORMS*/

#edit-form {
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgb(175, 27, 27, 0.75);
}

#edit-form span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: larger;
}

#edit-form span:hover {
  cursor: pointer;
}

#inner-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid black;
  border-radius: 5px;
  padding: 100px;

  background-color: rgb(255, 255, 255, 1.0);

  display: flex;

}
