a {
  text-decoration: none;
  color: black
}
a:visited {
  color: black
}

a:hover {
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 75px;
  background-color: blue;
}

#header a {
  font-size: larger;
  margin-left: 25px;
  background-color: brown;
}

#header .user-search {
  background-color: white;
  font-size: x-large;
  border: 1px solid 
}

#header ul a {
  margin-left: 0;
}

ul {
  position: absolute;
  z-index: 5;
  list-style-type: none;
  padding: 0;
}

/* .search-bar {
  position: relative;
} */

#trip-map {
  height: 50%;
  width: 45%;
}

#location-info {
  position: absolute;
  text-align: center;
  right: 77.5%;
  top: 45%;
  z-index: 2;
}

#trip-form {
  display: flex;
  justify-content: center;
  width: 100%;

  position: absolute;
  bottom: 30%;
}

#trip-form button {
  font-size: large;
}

#trip-container {
  position: absolute;
  top: 70%;
  width: 100%;

  display: flex;
  justify-content: center;
}

#trip-container div {
  text-align: center;
  margin: 10px;
}

#trip {
  display: flex;
  flex-direction: column;
}

#trip #flex {
  display: flex;
}

#trip #flex #location-map div:first-child {
  margin-left: 0;
  max-width: 45vw;
  max-height: 25vw;
}

#encounter-main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 60vw
}

#encounter-main #image-grid {
  margin: 35px 0 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
}


#encounter-main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#encounter-info {
  width: 100%;
}

#conservation {
  margin: auto;
}

#iucn-info {
  width: 100%;
  min-height: 150px;
  border: 1px solid;
}

#iucn-info div.cFtQnK {
  position: relative;
  top: 5rem;
}

div#grid-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#grid-header button {
  width: 16%;
  height: 40px;
  font-size: medium;
}

#followings {
  position: absolute;
  top: 10%;
  left: 2%;

  z-index: 3;
}

